# Core
Django==5.0.6
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
django-filter==24.2
drf-spectacular==0.27.2
django-environ==0.11.2

# Async / queue
celery==5.4.0
redis==5.0.4
django-celery-results==2.5.1

# DB drivers
psycopg2-binary==2.9.9

# WSGI / static
gunicorn==22.0.0
whitenoise==6.6.0

# Reports
reportlab==4.2.0
Jinja2==3.1.4

# Volatility 3
volatility3==2.7.0

# Utilities
pyyaml==6.0.1
python-magic==0.4.27
requests==2.32.3
